/* 멤버 링크 */
.member{
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: -0.5em;
}
/* 내비게이션 */
.menu{
  display: flex;
  justify-content: space-between;
}
.menu-act .sub-menu{
  display: flex;
}

/* 메인 콘텐츠 */
.main{
  display: flex;
  flex-flow: row nowrap;
  min-height: 400px;
}
.group{
  margin: 0 15px;
}
/* 로그인 */
.sign{
  display: flex;
  justify-content: space-between;
}

/* 검색폼 */
.search-form-wrapper{
  display:flex;
  justify-content: space-between;
  align-items:center;
}




/* .notice-heading, .pds-heading{
  position: absolute;
  padding: 5px 10px;
  border:1px solid #aaa;
  border-radius: 5px 5px 0 0;
}

.notice-heading{
  background: #666;
  top: 0;
  left: 0;
}
.pds-heading{
  background: pink;
  top: 0;
  left: 70px;
}

.notice, .pds{
  padding-top: 45px;
}

.notice-more, .pds-more{
  position: absolute;
  top: 0;
  right: 0;
  padding:8px;
} */