/* 멤버 링크 */
.member{
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: -0.5em;
}
.menu{
  display: flex;
  justify-content: space-between;
}

.menu-item{
  border-left: 2px solid rgba(255, 255, 255, 0.5);

  position: relative;
}

.menu-act .sub-menu{
  display:flex;
}

.sub-menu1{
  display:none;
  
}
.sub-menu2{
  display:none;
}
.sub-menu3{
  display:none;

}
.sub-menu4{
  display:none;

}
.sub-menu5{
  display:none;

}
.sub-menu6{
  display:none;

}

/* 메인 콘텐츠 */
.main{
  display: flex;
  flex-flow: row nowrap;
  height: 60vh;
}
.group{
  margin: 0 15px;
}
